<a class="row st-button text-white" style="visibility: hidden;" id='trigger' href="sms:1974?&body=ok" color="accent" mat-stroked-button>
  Отговори <mat-icon class="rot45">send</mat-icon>
</a>
<div class="flex-column-container pad-20 " style="height: 90vh;" >
  <div class=" text-center  h100p  center-me ">
    <div class="col">
      Ще бъдете пренасочени към комуникация с администраторите на сайта.<br>
      <br>
      За да продължите изпратете съобщение с текст "Ekip".<br>
      <br>
      Ако пренасочването не работи натиснете <a href="tel:191993:Ekip" style="color:accent">тук</a>.
    </div>

  </div>

</div>
