.logo {

  height: 50px;
  width:50px;
}
.burger{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.menu-fix{
  margin:10px;
}
// header{
//   opacity: 0.1;
// }
