.logo {
  margin-top: 20px;
  margin-left: 20px;
  max-height: 50px;
  max-width: 50px;
  min-height: 35px;
  min-width: 35px;
}

.burger {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.menu-fix {
  margin: 10px;
}

.contacts-menu {
  display: none;
}

.contacts-list {
  display: block;
}

@media screen and (max-width:750px) {
  .contacts-menu {
    display: block;
  }

  .contacts-list {
    display: none;
  }

}

// header{
//   opacity: 0.1;
// }
@media screen and (max-width:350px) {
  #reg-btn {
    display: none;
  }
}
