@import "../Variables.scss";
.flex-row-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    .box {
        white-space: nowrap;
        flex:1;
        overflow: hidden;

    }
    &.flex-right {
        justify-content: flex-end;
    }
    
}

.flex-column-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .box {
        white-space: nowrap;
        flex:1;
        position: relative;
        z-index: 10;
        overflow: hidden;
    }
}

main {
    background-color: $main_bg;
    padding: 80px 20px 20px 80px;
    height: 100%;
    @include transition;
    
    &.menu-open {
        padding-left: $aside-width + 20px;
        @include transition;
    }
}
 
.overflow-y {overflow-y: auto !important;}
.overflow-x {overflow-x: auto !important;}
