<div class="white-text">

  <div class=" pad-20 text-center ">
    Най-добрият сайт за онлайн запознанства.<br> Влизайки в сайта за запознанства вие автоматично се съгласяте с нашите
    правила и условия за използването му. Вашите данни са защитени, спрямо закона за защита на потребителите на
    територията на Република България! Тази услуга е забранена за лица под 18 години! Всяко изпратено съобщение е на
    стойност 5.90BGN.
    Платформата не носи отговорност за съдържанието на кореспондециите и/или личните профили на потребителите, за
    истинността и актуалността им.<br>
    В случай, че потребител на сайта претърпи вреди в резултат на неистинност или неактуалност на даден профил,
    отговорността за това се носи от публикувалия го потребител.<br>
    При несъответствие в интересите между вас и потребителите, услугата може да бъде прекратена по всяко време като
    напишете STOP.

  </div>
  <div class="text-left pad-40">
    <ul>
      <li class="mrg-bottom-10">Bchat App e платформа за комуникация учредена 2020 с седалище град Бургас.</li>
      <li class="mrg-bottom-10">Bchat App платформата запазва правото си на конфиеденциалност и защита на личните данни.
      </li>
      <li class="mrg-bottom-10">Всички кореспондециии са анонимни и изпращането на лични данни е под пълната отговорност на
         на потребителя изпратил информацията.</li>
    </ul>
  </div>
</div>
