<div class="black-text center-items h100p ">

  <div class=" pad-20 text-center italic">
    Най-успешният сайт за онлайн запознанства.<br> Влизайки в сайта за запознанства вие автоматично се съгласяте с
    нашите
    правила и условия за използването му. Вашите данни са защитени, спрямо закона за защита на потребителите на
    територията на Република България!
    Платформата не носи отговорност за съдържанието на кореспондециите и/или личните профили на потребителите, за
    истинността и актуалността им.<br>
    Всяко изпратено съобщение е на стойност 4.80BGN.
    В случай, че потребител на сайта претърпи вреди в резултат на неистинност или неактуалност на даден профил,
    отговорността за това се носи от публикувалия го потребител.<br>
    При несъответствие в интересите между вас и потребителите, услугата може да бъде прекратена по всяко време като
    напишете STOP.

  </div>
  <div class="text-left pad-40 italic">
    <ul>
      <li class="mrg-bottom-10"> Тази услуга е забранена за лица под 18 години!
      </li>
      <li class="mrg-bottom-10">Hooky Chat платформата запазва правото си на конфиеденциалност и защита на личните
        данни.
      </li>
      <li class="mrg-bottom-10">Всички кореспондециии са анонимни и изпращането на лични данни е под пълната отговорност
        на
        на потребителя изпратил информацията.</li>

    </ul>
    <a class="row st-button text-white" style="visibility: hidden;" id='trigger' href="sms:1974?&body=chat" color="accent" mat-stroked-button>Отговори <mat-icon
        class="rot45">send</mat-icon></a>
  </div>
</div>
