<div class="flex-column-container pad-20 " style="height: 90vh;" >
  <div class="text-center pad-top-30">
    Вашият чат е готов <br>

  </div>
  <div class=" text-center  h100p  center-me flex-column-container">
    <div class="row">
      За да продължите потвърдете че не сте робот:
    </div>
    <div class="row">
        <mat-checkbox class="font12"  (change)="check($event)">Аз не съм робот </mat-checkbox><img src="../../assets/static/vecteezy_shield-check-mark-logo-icon-design-template-elements_6801652-[Converted].png" height="60px" width="60px" alt=""  >
    </div>
  </div>
  <p class="mrg-top-20   end text-center font06">
    Най-успешният сайт за онлайн запознанства. Влизайки в сайта за запознанства вие автоматично се съгласяте с нашите правила и условия за използването му. Вашите данни са защитени, спрямо закона за защита на потребителите на територията на Република България! Тази услуга е забранена за лица под 18 години! Всяко изпратено съобщение е на стойност 4.80BGN.
    Платформата  не носи отговорност за съдържанието на кореспондециите и/или личните профили на потребителите, за истинността и актуалността им.<br>
    В случай, че потребител на сайта претърпи вреди в резултат на неистинност или неактуалност на даден профил, отговорността за това се носи от публикувалия го потребител.<br>
    При несъответствие в интересите между вас и потребителите, услугата може да бъде прекратена по всяко време като напишете STOP.
  </p>
</div>

