@import "../../../scss/Variables.scss";

.chat-contact{
    border: 2px solid $primary ;
    margin: 5px;
    border-radius: 2rem;
    padding: 10px;
    text-align: center;
    max-height: 3rem;
    min-height: 1rem;
}
.chat-contact-active{
  border: 2px solid $primary;
  margin: 5px;
  border-radius: 2rem;
  padding: 10px;
  text-align: center;
  max-height: 3rem;
  min-height: 1rem;
  background-color: $primary ;

}
// .mat-badge{
//   position: relative;
//   right: -50px;
//   border: 2px solid red;
//   background-color: $accent;
// }
.mat-badge{
  overflow: visible;
}
