<div >
  <div class="text-center relative mrg-top-20 mrg-bottom-20" >
      <span class="row font14 lh30">⭐ Запознай се с нови хора близо до теб!</span>
      <span class="row font14 lh30">❤️ Общувай създавайки нови приятелства ... или нещо повече</span>
      <span class="row font14 lh30">💬 Намери сродната си душа.</span>

  </div>
  <h3 class="text-center pad-20 relative ">Потребители онлайн</h3>
  <div class="h100p mrg-top-40  center-items">
    <div class="slider  owl-carousel pad-top-0 card-container">
      <div class="card  mrg-right-20 ">
        <img src="../../assets/static/Hot-Selfies-32.jpg" alt="Avatar" >
        <div class="pad-20 text-center end accent">
          <h4><b>Вики т.</b></h4>
          <p>Е свободна тази вечер</p>
        </div>
      </div>
      <div class="card  mrg-right-20 ">
        <img src="../../assets/static/Hot-Selfies-29.jpg" alt="Avatar" >
        <div class="pad-20 text-center end accent">
          <h4><b>Елена</b></h4>
          <p>Е на 500м от теб</p>
        </div>
      </div>
      <div class="card  mrg-right-20 ">
        <img src="../../assets/static/Hot-Selfies-81.jpg" alt="Avatar" >
        <div class="pad-20 text-center end accent">
          <h4><b>Izy</b></h4>
          <p>Iska da si pishete!</p>
        </div>
      </div>
      <div class="card  mrg-right-20 ">
        <img src="../../assets/static/viber_image_2022-08-10_21-28-08-524.jpg"  alt="Avatar" >
        <div class="pad-20 text-center end accent ">
          <h4><b>Plami</b></h4>
          <p>Ви изпрати съобщение!</p>
        </div>
      </div>
      <div class="card  mrg-right-20 ">
        <img src="../../assets/static/treat-your-selfie-to-some-shelfie-7.jpg" class="" alt="Avatar" >
        <div class="pad-20 text-center end accent ">
          <h4><b>К. Петрова</b></h4>
          <p>Хареса вашия профил</p>
        </div>
      </div>

    </div>
    <div class=" center-items">
      <div class="row mrg-bottom-10">
        Започни чат сега с най-близкия до теб потребител!
      </div>
      <a class="row" href="sms:+359879122366" color="accent" mat-raised-button>Започни чат</a>
    </div>
  </div>
  <div class="mrg-top-20 mrg-bottom-20 pad-20 text-center ">

    <div class="h200"></div>

    <hr>
    <p class="mrg-top-20 font09">
      Най-добрият сайт за онлайн запознанства. Влизайки в сайта за запознанства вие автоматично се съгласяте с нашите правила и условия за използването му. Вашите данни са защитени, спрямо закона за защита на потребителите на територията на Република България! Тази услуга е забранена за лица под 18 години! Всяко изпратено съобщение е на стойност 5.90BGN.
      Платформата  не носи отговорност за съдържанието на кореспондециите и/или личните профили на потребителите, за истинността и актуалността им.<br>
      В случай, че потребител на сайта претърпи вреди в резултат на неистинност или неактуалност на даден профил, отговорността за това се носи от публикувалия го потребител.<br>
      При несъответствие в интересите между вас и потребителите, услугата може да бъде прекратена по всяко време като напишете STOP.
    </p>

  </div>
</div>
