@import "../../scss/Variables.scss";
.center-items{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-raised-button,
.mat-stroked-button {
  border-radius: 5rem;
}
.grad {
  background-image: linear-gradient(to top,#f5ba76a4, rgba(255,0,0,0));
}
// .st-button{
//   transform: scale(0.8);
// }
.rot45{
  transform: rotate(-30deg);
  font-size: 18px;
  margin-left:0.3rem;
}
@media screen and (min-width:1100px) {

  .card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .card {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 500px;
    width: 300px;
  }

  .card img {
    height: 80%;
    width: 100%;

  }

  .card div {
    overflow: visible;
  }

  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
  .info{
    font-size: 12px;
  }
}



@media screen and (min-width: 580px) and (max-width:1250px) {
  .card-container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    padding: 5%;
    padding-top: 0;
  }

  .card {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin: 5px;
  }

  .card img {
   height: 80%;
    width: 100%;
    text-size-adjust: abs($number: 50px);
  }

  .card>div {
    height: 20%;
  }
  .info{
    font-size: 7px;
  }
}

@media screen and (max-width: 580px) {
  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
  }

  .card {
    border: 1px solid rgb(105, 105, 105);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
  }

  .info{
    font-size: 5px;
  }
  // .card img{
  //   height: 80%;
  //   padding: 60px;
  // }
  // .card > div{
  //   height: 20%;
  // }
}
