<div class="welcome">
  <div class="logo pad-top-10 pad-left-10">
    <img src="../../favicon.ico" alt="" class="maxh100p ">
  </div>
  <!-- <header>
  <div class="menu-fix" id="menuBtn" (click)="openAside()">
    <div class="lines"><span></span></div>
  </div>


  <div class="header-components">

  </div>

</header> -->
  <div class="text-center mrg-top-40 " style="border:2px solid red;color:black;">
    <p>
      <span class="row">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, ipsam?</span>
      <span class="row">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, a.</span>
      <span class="row">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia tempore ipsa, architecto
        assumenda
        maxime reprehenderit ratione natus at repellendus. Tempore.</span>
      <span class="row">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis aliquam perferendis, cumque
        laborum
        saepe hic!</span>
    </p>
  </div>
  <div class="h100p  clog mrg-top-100 center-me">
    <div class="slider clog owl-carousel pad-20 card-container">
      <div class="card   " *ngFor="let i of [1,2,3]">
        <img src="../../assets/static/img_avatar.png" alt="Avatar" style="max-width:100%;max-height:300px; ">
        <div class=" text-center">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
  </div>
</div>
