// /* You can add global styles to this file, and also import other style files */
@import "./scss/humge-ui-framework.scss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine-dark.css';

html,
body {
  height: 100%;
  background: url('/assets/static/welcome-bg.jpg') no-repeat fixed center;
  background-size: cover;

}

.center-form {
  width: 40%;
  margin: 0 auto;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clog {
  border: 2px solid red;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 580px) {
  .info {
    font-size: 7px;
  }
  .center-form{
    width: 100%;
  }
}
