// /* You can add global styles to this file, and also import other style files */
@import "./scss/humge-ui-framework.scss";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


.center-form{
  width: 40%;
  margin: 0 auto;
}
.center-me{
  display: flex;
  justify-content: center;
  align-items: center;
}
.clog{
  border:2px solid red;
}
